{% extends "_base.html" %}

{% block content %}

<div class="text-center">
  <h1>Technical Debt Analyzer</h1>
  <p class="lead">
    Analyze your codebase for technical debt indicators such as cyclomatic complexity.<br>
    Enter a GitHub repository to get started!
  </p>
</div>

<br>

<form action="/complexity" method="GET" class="mb-4">
  <div class="mb-3">
    <label for="owner_input" class="form-label">Github Owner Username</label>
    <input name="owner" type="text" class="form-control" placeholder="ex: torvalds" id="owner_input" required>
  </div>
  <div class="mb-3">
    <label for="repo_input" class="form-label">Github Repo Name</label>
    <input name="repo" type="text" class="form-control" placeholder="ex: linux" id="repo_input" required>
  </div>
  <div class="mb-3">
    <label for="branch_input" class="form-label">Github Repo Branch Name</label>
    <input name="repo" type="text" class="form-control" placeholder="ex: main" id="branch_input" aria-describedby="branch_optional_help">
    <div id="branch_optional_help" class="form-text">Optional</div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block">Analyze Repository</button>
</form>

<hr>

<div class="text-center">
  <h3>Or view one of the following analyzed repositories</h3>
  <p class="lead">
    Analyze your codebase for technical debt indicators such as cyclomatic complexity.<br>
    Enter a GitHub repository to get started!
  </p>
</div>

{% endblock %}